- curl -L https://github.com/stedolan/jq/releases/download/jq-1.5/jq-osx-amd64 -o /usr/local/bin/jq
- chmod 755 /usr/local/bin/jq
- pip install future==0.17.1
- ./build-support/bin/install_aws_cli_for_ci.sh
